{% extends "base.html" %}
{% block title %}Assessment{% endblock %}
{% block content %}
<form method="POST">
<html>
<head>
<style>

table {
    border-collapse: collapse;    
}
td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
th:empty {
    border: 0;
}

</style>
</head>
  <body>
    <h2 align="center">Interest Assessment</h2>
    <p align="center">Select the corresponding number based off of your personal interest in the topic. (1 = lowest level of interest, 5 = highest)</p>

    <section>
      <table align="center">
        <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
        <tr>
            <td>Data</td>
            <td><input type="radio" name="r1" value="1" data-col="1"></td>
            <td><input type="radio" name="r1" value="2" data-col="2"></td>
            <td><input type="radio" name="r1" value="3" data-col="3"></td>
            <td><input type="radio" name="r1" value="4" data-col="4"></td>
            <td><input type="radio" name="r1" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Design</td>
            <td><input type="radio" name="r2" value="1" data-col="1"></td>
            <td><input type="radio" name="r2" value="2" data-col="2"></td>
            <td><input type="radio" name="r2" value="3" data-col="3"></td>
            <td><input type="radio" name="r2" value="4" data-col="4"></td>
            <td><input type="radio" name="r2" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Investigation</td>
            <td><input type="radio" name="r3" value="1" data-col="1"></td>
            <td><input type="radio" name="r3" value="2" data-col="2"></td>
            <td><input type="radio" name="r3" value="3" data-col="3"></td>
            <td><input type="radio" name="r3" value="4" data-col="4"></td>
            <td><input type="radio" name="r3" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Machine</td>
            <td><input type="radio" name="r4" value="1" data-col="1"></td>
            <td><input type="radio" name="r4" value="2" data-col="2"></td>
            <td><input type="radio" name="r4" value="3" data-col="3"></td>
            <td><input type="radio" name="r4" value="4" data-col="4"></td>
            <td><input type="radio" name="r4" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Problem Solving</td>
            <td><input type="radio" name="r5" value="1" data-col="1"></td>
            <td><input type="radio" name="r5" value="2" data-col="2"></td>
            <td><input type="radio" name="r5" value="3" data-col="3"></td>
            <td><input type="radio" name="r5" value="4" data-col="4"></td>
            <td><input type="radio" name="r5" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Security</td>
            <td><input type="radio" name="r6" value="1" data-col="1"></td>
            <td><input type="radio" name="r6" value="2" data-col="2"></td>
            <td><input type="radio" name="r6" value="3" data-col="3"></td>
            <td><input type="radio" name="r6" value="4" data-col="4"></td>
            <td><input type="radio" name="r6" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Simulation</td>
            <td><input type="radio" name="r7" value="1" data-col="1"></td>
            <td><input type="radio" name="r7" value="2" data-col="2"></td>
            <td><input type="radio" name="r7" value="3" data-col="3"></td>
            <td><input type="radio" name="r7" value="4" data-col="4"></td>
            <td><input type="radio" name="r7" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Software</td>
            <td><input type="radio" name="r8" value="1" data-col="1"></td>
            <td><input type="radio" name="r8" value="2" data-col="2"></td>
            <td><input type="radio" name="r8" value="3" data-col="3"></td>
            <td><input type="radio" name="r8" value="4" data-col="4"></td>
            <td><input type="radio" name="r8" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Systems</td>
            <td><input type="radio" name="r9" value="1" data-col="1"></td>
            <td><input type="radio" name="r9" value="2" data-col="2"></td>
            <td><input type="radio" name="r9" value="3" data-col="3"></td>
            <td><input type="radio" name="r9" value="4" data-col="4"></td>
            <td><input type="radio" name="r9" value="5" data-col="5"></td>
        </tr>
        <tr>
            <td>Users</td>
            <td><input type="radio" name="r10" value="1" data-col="1"></td>
            <td><input type="radio" name="r10" value="2" data-col="2"></td>
            <td><input type="radio" name="r10" value="3" data-col="3"></td>
            <td><input type="radio" name="r10" value="4" data-col="4"></td>
            <td><input type="radio" name="r10" value="5" data-col="5"></td>
        </tr>
        </table>
    </section>

    <br><br>
    <div class="col text-center">
        <button type ="submit" name ="submit1" class ="btn btn-primary" value="Submit">Submit</button>
    </div>
    <br><br>

    
  </body>
  </html>
</form>
{% endblock %}