{% extends "base.html" %}
{% block title %}Assessment{% endblock %}
{% block content %}
<form method="POST">
<html>
<head>
<style>

</style>
</head>
  <body>
    <div class="col text-center">
      <br><br>
      <h3>Recommended Courses!</h3>
      <br>
      <h4>1: {{ query.get("1") }}</h4>
      <h4>2: {{ query.get("2") }}</h4>
      <h4>3: {{ query.get("3") }}</h4>
      <h4>4: {{ query.get("4") }}</h4>
      <h4>5: {{ query.get("5") }}</h4>
      <br><br>
      <br><br>
    </div>
  </body>
  </html>
</form>
{% endblock %}